<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="client_id" value="e10639fa7efb4278ba354f840ae43e85" />
    <add key="client_secret" value="f4523b52a75945a28f9d0ffc43cc310a" />
    <add key="domain" value="https://cepessouat.lynkco.com" />
    <add key="automaker_domain" value="https://cepoemuat.lynkco.com" />
    <add key="homepage" value="http://bji065-l7338977/ReportServer/HomePage.aspx" />
    <add key="redis" value="127.0.0.1:6379,password=123456,DefaultDatabase=0" />
    <!--单位：分钟-->
    <add key="RedisExpireMinutes" value="60" />
  </appSettings>
  <connectionStrings>
    <add name="conn_cepone" connectionString="Data Source=10.86.65.148,6666\cepone;Initial Catalog=CepOne;User ID=sa;Password=password01!;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <pages validateRequest="false" enableSessionState="true">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
      <namespaces>
        <remove namespace="System.Linq" />
        <remove namespace="System.ComponentModel.DataAnnotations" />
      </namespaces>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="HomePage.aspx" name="redisAuthCookie" timeout="60" path="/">
      </forms>
    </authentication>
    <identity impersonate="false" />
    <authorization>
      <deny users="?" />
    </authorization>
    <compilation defaultLanguage="c#" debug="false" targetFramework="4.0" tempDirectory="D:\BISetup\PowerBI\Microsoft Power BI Report Server\PBIRS\ReportServer\RSTempFiles">
      <assemblies>
        <clear />
        <add assembly="ReportingServicesWebServer" />
        <add assembly="Microsoft.Samples.ReportingServices.CustomSecurity" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <httpHandlers>
      <add verb="*" path="Reserved.ReportServer" type="Microsoft.ReportingServices.WebServer.ReportServiceHttpHandler, ReportingServicesWebServer" />
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, ReportingServicesWebServer, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <httpModules>
      <clear />
      <add name="OutputCache" type="System.Web.Caching.OutputCacheModule" />
      <add name="WindowsAuthentication" type="System.Web.Security.WindowsAuthenticationModule" />
      <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" />
      <add name="PassportAuthentication" type="System.Web.Security.PassportAuthenticationModule" />
      <add name="RoleManager" type="System.Web.Security.RoleManagerModule" />
      <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule" />
      <add name="FileAuthorization" type="System.Web.Security.FileAuthorizationModule" />
      <add name="AnonymousIdentification" type="System.Web.Security.AnonymousIdentificationModule" />
      <add name="Profile" type="System.Web.Profile.ProfileModule" />
      <add name="ErrorHandlerModule" type="System.Web.Mobile.ErrorHandlerModule, System.Web.Mobile, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add name="SessionStateModule" type="System.Web.SessionState.SessionStateModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </httpModules>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <httpRuntime executionTimeout="9000" requestValidationMode="2.0" />
    <securityPolicy>
      <trustLevel name="RosettaSrv" policyFile="rssrvpolicy.config" />
    </securityPolicy>
    <trust level="Full" originUrl="" legacyCasModel="true" />
    <webServices>
      <soapExtensionTypes>
        <add type="Microsoft.ReportingServices.WebServer.RsSoapExtension, ReportingServicesWebServer" priority="1" group="1" />
      </soapExtensionTypes>
      <soapExtensionReflectorTypes>
        <add type="Microsoft.ReportingServices.WebServer.RsSoapExtensionReflector, ReportingServicesWebServer" />
      </soapExtensionReflectorTypes>
    </webServices>
    <machineKey validationKey="762CA2B3250BD8136F123C9FBE4097015091B8FD0346449D58C5793BEE391209FEBD8B1BF1811768EB32DEDD8EDB9D086CDD8DDC373F5D737A2A6229701CAE11" decryptionKey="9E0048813928BE81633E342FCECD30BD01E6A29E2A659703" validation="AES" decryption="AES" />
  </system.web>
  <runtime>
    <alwaysFlowImpersonationPolicy enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportingServices.Interfaces" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="8.0.242.0-2019.9.0.0" newVersion="2019.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportingServices.ProcessingCore" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="9.0.242.0-2019.9.0.0" newVersion="2019.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportingServices.ProcessingObjectModel" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="9.0.242.0-2019.9.0.0" newVersion="2019.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="10.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="msmgdsrv" publicKeyToken="89845dcd8080cc91" />
        <bindingRedirect oldVersion="9.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
        <codeBase version="15.0.0.0" href="%ProgramFiles%\Microsoft Analysis Services\AS OLEDB\150\msmgdsrv.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>